
mixin containerWithBg(i)
   div(id=`container${i}-background` class="background-img")
      div(class="grey-cover" id=`grey-cover${i}`)
         div(class="page-number-line-container")
            p(class="page-number") 000#{i}
            div(class="vertical-line")
         if(i==1)
            - console.log(i)
            div(id="first-container")
               div(id="astronaut-image-container")
                  div(id="border-on-image")
               div(id="first-container-info")
                  div(id="first-container-info-title") VOYAGING ON THE UNKOWN
                  div(id="first-container-info-description") Hello there my fellow traveller! The thousand year peace has brought great progress in Human civilization. We are now able to reach distant planets in economically allowing any child with hopes of reaching for the stars to pursue their  dreams. Today I will take you to 'destinations' that your hungry eyes have to see.  
                  div(id="first-container-info-me") -2nd Cpt. Arian Cayton #0033 Unit 18D
         if (i==3)
               div(class="dest-shot-and-info-container")
                  div(class="destination-shots-container" id=`dest-shot-${i}`)
                        if (i==3)
                           each j in [1,2,3,4]
                              div(class=`destination-shot shot${j}` )
                  include ./_destinationInfoContainer
                  +destinationInfo(i)